.bt3{
    
    width: 6.5rem;
    height: 2.5rem;
    font-size: medium;
    background-color: rgb(91, 112, 91);
    border-radius: 0.4rem;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.9rem;
    margin-left: 100%;
    cursor: pointer;
}